<div class="cards-section">
    <h2>Popular Companies And Shops</h2>
    <div class="hr3"></div>


    <div class="cards-container">

        <div class="card">
            <img src="assets/pexels-kampus-production-8813567.jpg" alt="" />

            <div class="card-content">

                <p>Lourm Ipsum</p>
                <div class="card-icon"><i class="fa-solid fa-headphones"></i> 245 Ads</div>
                <div class="card-icon">
                    <i class="fa-solid fa-user"></i>Followed by 156 people
                </div>
                <button class="follow-btn">follow</button>

            </div>
            <div class="cancle">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="card">
            <img src="assets/pexels-kampus-production-8813567.jpg" alt="" />

            <div class="card-content">

                <p>Lourm Ipsum</p>
                <div class="card-icon"><i class="fa-solid fa-headphones"></i> 245 Ads</div>
                <div class="card-icon">
                    <i class="fa-solid fa-user"></i>Followed by 156 people
                </div>
                <button class="follow-btn">follow</button>

            </div>
            <div class="cancle">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="card">
            <img src="assets/pexels-kampus-production-8813567.jpg" alt="" />

            <div class="card-content">

                <p>Lourm Ipsum</p>
                <div class="card-icon"><i class="fa-solid fa-headphones"></i> 245 Ads</div>
                <div class="card-icon">
                    <i class="fa-solid fa-user"></i>Followed by 156 people
                </div>
                <button class="follow-btn">follow</button>

            </div>
            <div class="cancle">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="card">
            <img src="assets/pexels-kampus-production-8813567.jpg" alt="" />

            <div class="card-content">

                <p>Lourm Ipsum</p>
                <div class="card-icon"><i class="fa-solid fa-headphones"></i> 245 Ads</div>
                <div class="card-icon">
                    <i class="fa-solid fa-user"></i>Followed by 156 people
                </div>
                <button class="follow-btn">follow</button>

            </div>
            <div class="cancle">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>


    </div>

</div>
