<section class="single-product">
    <div class="imgs">
        
        
    
        <div class="product-img">
            <img src="assets/pexels-kampus-production-8813567.jpg" alt="" />
        </div>
        <div class="img-container">
            <img src="assets/pexels-kampus-production-8813567.jpg" alt="" />
            <img src="assets/pexels-kampus-production-8813567.jpg" alt="" />
           
            <img src="assets/pexels-kampus-production-8813567.jpg" alt="" />
        </div>
    </div>
     <div class="single-product-content">
 <div class="single-product-head">
       
   <div class="product-info">
    <small>Laptop</small>
    <h3 class="product-name">Lenovo IdeaPad 3 Laptop</h3>
   </div>

    <div class="icons">
        <div class="icon"><i class="fa-regular fa-heart"></i></div>
        <div class="icon"><i class="fa-solid fa-print"></i></div>
      
    
      </div>
 </div>
      <div class="description">
       <p> Model: </p> <p>Lenovo IdeaPad 3 Laptop - 10th Generation Intel Core i5-1035G1, 8GB RAM, 1TB HDD, Intel UHD Graphics, 14 Inch FHD (1920x1080) 220nits </p>
      </div>
      <div class="description before">
        <p> Was: </p> <p><del>EGP 33333</del></p>
       </div>
       <div class="description">
        <p> Now: </p> <p>EGP 222</p>
       </div>
    <div class="offer">
        <div class="description save">
            <p> Saving: </p> <p>EGP 22</p>
           </div>
           <div class="off">
            20% off

           </div>
    </div>
       <div class="after-desc">
        <div class="item2"><i class="fa-solid fa-heart"></i>Add To Wish List </div>
        <div class="item2"><i class="fa-solid fa-heart"></i>Add To Wish List </div>

       </div>
      
<div class="delivery-container">
    <div class="status">Availability: <span>In Strock</span></div>
    <div class="delivery-info">
 
     <div class="delivery">
 
 
         
         <div class="delivery-icon"> <i class="fa-solid fa-truck"></i>Delivery On Or before : 25-06-2022</div>
 
        </div>
        <div class="social-head">
         <div class="item"> 1.5 K<i class="fa-solid fa-heart"></i> </div>
         <div class="item">1.5 K <i class="fa-solid fa-eye"></i></div>
         <div class="item">10<i class="fa-solid fa-star"></i></div>
    </div>
 
 
 
     </div>
</div>
    
<div class="quantity-container">


    <div class="quantity">
        <p>Quantity:</p>
 <form>
 <div class="plus">+</div>
 <input type="number" />
 <div class="minus">-</div>
</form>
      </div>
    
    
      <div class="btns">
        <button><i class="fa-solid fa-cart-shopping"></i> Add to cart </button>
        <button> <i class="fa-regular fa-clock"></i>1- Click Buy</button>
      </div>
     </div>
</div>
    
    
    </section>
