<div class="header">
    <img src="assets/pexels-kampus-production-8813567.jpg" alt="" />

    <div class="content">
        <div class="head-navv">
            <div class="home"><i class="fa-solid fa-house"></i></div>
            <div class="links">

                <a href="">Real State</a>
                <div class="hr2"></div>
                <a href="">Rent</a>
                <a href="">Aprtment</a>

            </div>
        </div>
        <h3>Luxor Resaturant</h3>
      <div class="location-container">
        <div class="location"><i class="fa-solid fa-location-dot"></i>   <p>Assuit, Al fath</p></div>
      <div class="rating">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <p>200 Rating</p>
      </div>
      </div>

    <div class="price"> <p>Price</p> <p>14000 EGP</p> <div class="free"> free</div></div>




    

    </div>
    <div class="left">
        <div class="share">
            <i class="fa-solid fa-share"></i> share
        </div>
        <div class="social-head">
            <div class="item"><i class="fa-solid fa-eye"></i>1.5 K Viewed</div>
            <div class="item"><i class="fa-regular fa-message"></i>10</div>
            <div class="item"><i class="fa-solid fa-heart"></i> 1.5 K Favorite</div>
    
    
        </div>
    </div>

</div>
<div class="after-header">
  <div class="links-list">
<div class="a">    <a href=""> Easy Sell</a>/</div>
  <div class="a">  <a href="">Real state</a>/</div>

<div class="a">    <a href="">Real estate for rent</a>/</div>
  <div class="a">  <a href=""> Participation housing for rent</a></div>

  </div>
  <div class="icons">
    <div class="icon"><i class="fa-regular fa-heart"></i></div>
    <div class="icon"><i class="fa-solid fa-print"></i></div>
    <div class="icon">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>

  </div>

</div>