<div class="cards-section">
    <h2>Beauty .Up To 65% Off</h2>
    <div class="hr3"></div>


    <div class="cards-container">

        <div class="card">
            <img src="assets/pexels-kampus-production-8813567.jpg" alt="" />

            <div class="card-content">

                <p>Product Name</p>
            
                <p class="product-name">Product Name</p>
                

            </div>
          
        </div>
        <div class="card">
            <img src="assets/pexels-kampus-production-8813567.jpg" alt="" />

            <div class="card-content">

                <p>Product Name</p>
            
                <p class="product-name">Product Name</p>
                

            </div>
          
        </div>
        <div class="card">
            <img src="assets/pexels-kampus-production-8813567.jpg" alt="" />
            <div class="card-content">

                <p>Product Name</p>
            
                <p class="product-name">Product Name</p>
                

            </div>
         
        </div>
        <div class="card">
            <img src="assets/pexels-kampus-production-8813567.jpg" alt="" />
            <div class="card-content">

                <p>Product Name</p>
            
                <p class="product-name">Product Name</p>
                

            </div>
           
        </div>


    </div>

</div>
