
    <div class="comments-container">
      <p class="text-head">Comments</p>
      <div class="hr"></div>

      <div class="comment">
        <img src="assets/pexels-kampus-production-8813567.jpg" alt="" />
        <div class="comment-content">
          <div class="comment-head">
            <p>Ahmed Mostafa</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            ut amet tempora. Molestiae, ut, harum quos eveniet blanditiis quas
            magni expedita reprehenderit non, delectus commodi. Tenetur in enim
            repellat fugit?
          </p>
          <div class="comment-time">
            <i class="fa-solid fa-calendar-days"></i>
            <p>a month ago</p>
          </div>
          <div class="dots-container" (click)="showmenu()">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>

        </div>
        <div class="menu" *ngIf="show ">
          <ul>
            <li><i class="fa-solid fa-circle-exclamation"></i> spam</li>
            <li><i class="fa-solid fa-circle-exclamation"></i> Misclassified</li>
            <li><i class="fa-solid fa-circle-exclamation"></i> Duplicated</li>
            <li><i class="fa-solid fa-circle-exclamation"></i> Offensive</li>
            

          </ul>

        </div>
        </div>

        
      
      </div>
      <div class="comment reply">
        <img src="assets/pexels-kampus-production-8813567.jpg" alt="" />
        <div class="comment-content">
          <div class="comment-head">
            <p>Ahmed Mostafa</p>
            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
            ut amet tempora. Molestiae, ut, harum quos eveniet blanditiis quas
            magni expedita reprehenderit non, delectus commodi. Tenetur in enim
            repellat fugit?
          </p>
          <div class="comment-time">
            <i class="fa-solid fa-calendar-days"></i>
            <p>a month ago</p>
          </div>
          <div class="dots-container" >
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>

        </div>
    
        </div>
      
      </div>
      <div class="write-comment">
        <img src="assets/pexels-kampus-production-8813567.jpg" alt="" />

        <form action="">
          <div class="input">
            <input type="text" name="" id="" placeholder="write comment">
            <div class="icons">
                <i class="fa-regular fa-face-smile"></i>
                <i class="fa-solid fa-camera"></i>
            </div>
        
        </div>
        <button class="send"><img src="assets/Vector.png" alt=""></button>

        </form>
       

      </div>
      <div class="hr"></div>

      <div class="add-comment">
        <p>Add Your Comment</p>
        <div class="add-rating">
            <p>Your Rating For This Ad :</p>
            <div class="rating2">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
        </div>

        <form action="">

            <label for="comment">Write Comment</label>
            <input type="text" placeholder="Write comment">
            <button class="btn">Submit Coment</button>
        </form>

      </div>

    </div>
